// Reds
escarlata = #E30032
carmesi = #E51A4C
scarlet = #FD2D1C
carmin = #D10047
naranja = #D23D15
// Blue
blue = #1565c0
blueDark = #003c8f
blueLight = #1976d2
///Green 
green = #D5FF0A
//
black = RGB(25, 25, 35)
