article 
	section.container#summary
		h3 Summary
		ul
			li Outstanding certifications include Cisco Certified Network Associate (CCNA) and Comptia A+.
			li 5+ International experienced troubleshooting thin clients and their PCs.
			li Ability to operate with a high sense of urgency and understand the importance of end-user/customer satisfaction.
			li High aptitude for learning new skills and developing professionally concerning “IT”.
			li Trilingual English(Professional) / Spanish(Native) / French(Fluent).

	section.container#experience
		h3 Experience
		div.timeline
			div.containerTimeline.left
				div.contentTimeline
					h4 Computer Technician, Servielectronique, Montreal, Quebec, Canada.
					h5 2015 – Present (Part-time, Remote)
					ul
						li Troubleshooting Network Connection.
						li Provided technical assistance and resources on a regular basis.
						li Verified fresh software for compatibility with company systems.
					
			div.containerTimeline.right
				div.contentTimeline
					h4 Receiver, Womble Company Inc, Houston, Texas.
					h5 2016 – 2017 (Full-time)
					ul
						li Typing all the information about the pipes in our system.
						li Moving the pipes logically to another location or client truck’s.
						li Handling paperwork.
					
			div.containerTimeline.left
				div.contentTimeline
					h4 Sales Representative, Autoquest International, Houston, Texas.
					h5 2015 – 2016 (Full-time)
					ul
						li Services existing customers, obtains orders, and establishes new customers.
						li Search the exact product in the system required for the client.
						li Listening to customers a sense that their questions or concerns will be dealt with immediately.
			div.containerTimeline.right
				div.contentTimeline
					h4 Computer technician, Servielectronique, Montreal, Quebec, Canada.
					h5 2012 – 2015 (Full-time)
					ul
						li Installed and maintained computer operating systems hardware and software packages.
						li Troubleshooting Network Connection.
						li Provided technical assistance and resources on a regular basis.
						li Verified fresh hardware and software for compatibility with company systems.
			div.containerTimeline.left
				div.contentTimeline
					h4 Self-Employee (Ecuador)
					h5 2010-2012 (Part-time)
					ul
						li Installed and maintained computer operating systems hardware and software packages.
						li Updating customer software.

					
			
		section.container#certification
			h3 Certification
			ul
				li A+ Certification
				li Cisco IT Essentials: PC Hardware and Software,
				li Cisco CCNA Discovery: Networking for home and small businesses
				li Platzi Certification Web programming
		
	section.container#skills
		h3 Skills
		div.cont
			img(src='static/images/css3.png' alt='Css3' class='image' )
			div.fade-in
				div.text Css3
		div.cont
			img(src='static/images/html5.png' alt='Html5' class='image')
			div.fade-in
				div.text Html5
		div.cont
			img(src='static/images/js.png' alt='Javascript' class='image')
			div.fade-in
				div.text Javascript
		div.cont
			img(src='static/images/veu.png' alt='Veu.js' class='image')
			div.fade-in
				div.text Veu.js
		div.cont

			img(src='static/images/stylus.png' alt='Stylus' class='image')
			div.fade-in
				div.text Stylus
		div.cont

			img(src='static/images/jade.png' alt='Jade' class='image')
			div.fade-in
				div.text Jade
		div.cont

			img(src='static/images/coffeescript.png' alt='Coffescript' class='image')
			div.fade-in
				div.text Coffeescript
		div.cont

			img(src='static/images/python.png' alt='Python' class='image')
			div.fade-in
				div.text Python
		div.cont

			img(src='static/images/django.png' alt='Django' class='image')
			div.fade-in
				div.text Django
		div.cont

			img(src='static/images/scrapy.png' alt='Scrapy' class='image')
			div.fade-in
				div.text Scrapy
		div.cont
			img(src='static/images/psd-to-html5.png' alt='Psd-to-Html5' class='image' id='psdtohtml' )
			div.fade-in
				div.text Psd-to-Html


section.container#findMe
	
	h3 Find me
	ul#links
		li.pages
			a.botton(href = 'https://twitter.com/NezsbiT')
				img(src='static/images/twitter.png' alt='twitter' class='image')
		li.pages
			a.botton(href = 'https://github.com/NezbiT')
				img(src='static/images/github.png' alt='github' class='image')
		li.pages
			a.botton(href = 'https://www.linkedin.com/in/nezbit/') 
				img(src='static/images/linkedin.png' alt='linkedin' class='image' id='linkedin')
		li.pages
			a.botton(href = 'mailto:mariosalv2@gmail.com') 
				img(src='static/images/email.png' alt='email' class='image')
		li.pages
			a.botton(href = 'http://mariosalvarez.com/docx/cv.docx')
				img(src='static/images/docx.png' alt='docx' class='image')
