article#cv
	
	aside.container#summary
		h3 Summary
		ul
			li Outstanding certifications include Cisco Certified Network Associate (CCNA) and Comptia A+.
			li 5+ International experienced troubleshooting thin clients and their PCs.
			li Ability to operate with a high sense of urgency and understand the importance of end-user/customer satisfaction.
			li High aptitude for learning new skills and developing professionally concerning “IT”.
			li Trilingual English(Professional) / Spanish(Native) / French(Fluent).

	aside.container#experience
		h3 Experience
		div.timeline
			div.containerTimeline.left
				div.contentTimeline
					h4 Computer Technician, Servielectronique, Montreal, Quebec, Canada.
					h5 2015 – Present (Part-time, Remote)
					ul
						li Troubleshooting Network Connection.
						li Provided technical assistance and resources on a regular basis.
						li Verified fresh software for compatibility with company systems.
					
			div.containerTimeline.right
				div.contentTimeline
					h4 Receiver, Womble Company Inc, Houston, Texas.
					h5 2016 – 2017 (Full-time)
					ul
						li Typing all the information about the pipes in our system.
						li Moving the pipes logically to another location or client truck’s.
						li Handling paperwork.
					
			div.containerTimeline.left
				div.contentTimeline
					h4 Sales Representative, Autoquest International, Houston, Texas.
					h5 2015 – 2016 (Full-time)
					ul
						li Services existing customers, obtains orders, and establishes new customers.
						li Search the exact product in the system required for the client.
						li Listening to customers a sense that their questions or concerns will be dealt with immediately.
			div.containerTimeline.right
				div.contentTimeline
					h4 Computer technician, Servielectronique, Montreal, Quebec, Canada.
					h5 2012 – 2015 (Full-time)
					ul
						li Installed and maintained computer operating systems hardware and software packages.
						li Troubleshooting Network Connection.
						li Provided technical assistance and resources on a regular basis.
						li Verified fresh hardware and software for compatibility with company systems.
			div.containerTimeline.left
				div.contentTimeline
					h4 Self-Employee (Ecuador)
					h5 2010-2012 (Part-time)
					ul
						li Installed and maintained computer operating systems hardware and software packages.
						li Updating customer software.

					
			
	aside.container#certification
		h3 Certification
		ul
			li A+ Certification
			li Cisco IT Essentials: PC Hardware and Software,
			li Cisco CCNA Discovery: Networking for home and small businesses
			li Platzi Certification Web programming
	
	aside.container#skills
		h3 Skills
		div.grid-cont
			div.cont
				img(src='https://s3.amazonaws.com/www.mariosalvarez.com/static/images/html5.svg' alt='Html5' class='image')
				div.fade-in
					div.text Html5
			div.cont
				img(src='https://s3.amazonaws.com/www.mariosalvarez.com/static/images/css3.svg' alt='Css3' class='image' )
				div.fade-in
					div.text Css3
			div.cont
				img(src='https://s3.amazonaws.com/www.mariosalvarez.com/static/images/js.svg' alt='Javascript' class='image')
				div.fade-in
					div.text Javascript
			div.cont
				img(src='https://s3.amazonaws.com/www.mariosalvarez.com/static/images/pug.svg' alt='Pug' class='image')
				div.fade-in
					div.text Pug
			div.cont
				img(src='https://s3.amazonaws.com/www.mariosalvarez.com/static/images/stylus.svg' alt='Stylus' class='image')
				div.fade-in
					div.text Stylus
			div.cont
				img(src='https://s3.amazonaws.com/www.mariosalvarez.com/static/images/vue.svg' alt='Veu.js' class='image')
				div.fade-in
					div.text Vue.js
			div.cont
				img(src='https://s3.amazonaws.com/www.mariosalvarez.com/static/images/psd-to-html5.svg' alt='Psd-to-Html5' class='image' id='psdtohtml' )
				div.fade-in
					div.text Psd to Html5
			div.cont
				img(src='https://s3.amazonaws.com/www.mariosalvarez.com/static/images/python.svg' alt='Python' class='image')
				div.fade-in
					div.text Python
			div.cont
				img(src='https://s3.amazonaws.com/www.mariosalvarez.com/static/images/django.svg' alt='Django' class='image')
				div.fade-in
					div.text Django
			div.cont

				img(src='https://s3.amazonaws.com/www.mariosalvarez.com/static/images/scrapy.svg' alt='Scrapy' class='image')
				div.fade-in
					div.text Scrapy
			


