doctype html
html(lang = 'en')
	include head
	body
			
		header
				
			div#htop
				div#avatar
				a(href='http://mariosalvarez.com'): h1#title Mario Alvarez
				h2#quote 90% of success is showing up.
			nav#findMe
			
				ul.flex-cont
					li.pages
						a.botton(href = 'https://www.linkedin.com/in/nezbit/' target = '_blank')  Linkedin
					li.pages
						a.botton(href = 'https://github.com/NezbiT' target = '_blank') Github
					li.pages
						a.botton(href = 'mailto:mariosalv2@gmail.com' target = '_blank')  Email
					li.pages
						a.botton(href = 'https://s3.amazonaws.com/www.mariosalvarez.com/static/Docx/cv.docx' target = '_blank') Resume
		hr
		include cv
		