doctype html
html(lang = 'en')
	include head.jade
	body
			
		header
		
			a(href='http://mariosalvarez.com') 
				h1#title Mario S Alvarez
			h2#quote 90% of success is showing up.
			nav
				ul#nav
					li.pages
						a.botton(href='#summary') Summary
					li.pages
						a.botton(href='#experience') Experience
					li.pages
						a.botton(href='#certification') Certification
					li.pages
						a.botton(href='#Skills')  Skills
					li.pages
						a.botton(href='#findMe') More about me

		include cv.jade
		//- slider
		//- script(src="static/coffeeslide.min.js")