@import 'lib/nib'
@import 'lib/nib/gradients'
@import 'lib/nib/normalize'
@import 'timeline.css'
@import 'customColors'
@import 'media_queries'
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Rock+Salt')
//arreglar sombras 
@font-face
	font-family 'Rock Salt', cursive
	font-family 'Open Sans', sans-serif
	font-family 'Roboto', sans-serif
html
	&:body 
		font-color #1c1c1c
		font-family 'Open Sans' 
		font-size 16px
		margin 0
		padding 0
		text-align justify
		word-spacing 2px
a 
	text-decoration none
header
	border-radius .5em
	box-shadow 1em 0 20em .5em	blueLight
	color white
	padding 1em
	text-align center
header #title
	font-family 'Rock Salt', cursive
	color black
	display inline
	font-size 5em
header #quote
	color naranja 
	font-size .8em
	padding 1em
hr 
	display none

#findMe ul
	list-style none
	margin 0 auto
	padding 1em
	text-align center

#findMe ul li a
	border-radius .5em
	color #333
	font-family 'Roboto', sans-serif
	font-size 1.5em
	padding .5em
	transition all 500ms linear
#findMe ul li a:visited
	color #333
#findMe ul li a:hover
	background RGBA(26, 118, 210, 1.00)

.imageFooter
	fill darkslateblue
.imageFooterhover
	fill  red
#cv
	font-size 1.2em
	margin 0 auto
	-webkit-font-smoothing antialiased
	--moz-osx-font-smoothing antialiased
h3 
	padding-bottom 1em
	color scarlet 
h4
	color #000077
	text-shadow none
h5
	font-style italic
	text-shadow none
#experience
	margin 0
	width 100%
	overflow scroll
#summary	
#certification
#skills
	height 100%
	padding 1em 1em	
	position relative
	
.flex-cont
	display  flex
	flex-direction row 
	justify-content center
	margin:  0 auto
	align-items center
	line-height 2em	


.text
	color black
.cont
	border-radius .5em
	margin 0 auto
	padding 1em
	position relative
	opacity 1
	transition all 2s ease
	&:hover
		background #ccc
		opacity 0.6
	
.cont img
	max-width 100%
.grid-cont
	display grid
	grid-template-columns repeat(auto-fill, 300px)
	justify-content center
	grid-gap 1em
	margin 0 auto
	padding 1em 1em	
	transition all 1.2s ease-out	
	
.fade-in 	
	opacity 0
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)
	-ms-transform translate(-50%, -50%)

.text 
	background-color rgba(240,255,255,0.4) 
	border-radius .3em
	display block
	padding .4em .8em
.image
	backface-visibility hidden
	display inline-block
	height 6em
	opacity 1
	transition 2s ease
	width 6em
